//Text color
$font-main: rgba(0, 0, 0, 0.89);
$font-sub: rgba(0, 0, 0, 0.54);
$font-nav: rgba(0, 0, 0, 0.26);
$font-back: rgba(0, 0, 0, 0.08);
$font-white: #ffffff;
$font-yellow: #fabe00;
$font-gray: #efefef;


//UI color
$ui-main: #fabe00;
$ui-sub: #ffffff;
$ui-black: #222222;
$ui-gray: #efefef;
$ui-border: rgba(0, 0, 0, 0.12);
